@component('layouts/profile')
  @slot('main')
    <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
      <!--Filter Short By-->
      <div class="twm-right-section-panel site-bg-gray">
        <div>

          <!--Basic Information-->
          <form action="{{ route('user-profile.update') }}" method="post" id="profileForm">
            {{ csrfField() }}
            <div class="panel panel-default">
              <div class="panel-heading wt-panel-heading p-a20">
                <h4 class="panel-tittle m-a0">
                  Basic Informations
                </h4>
              </div>
              <div class="panel-body wt-panel-body p-a20 m-b30 ">

                <div class="row">

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group">
                      <label>Your Name</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="name"
                          type="text"
                          value="{{ profile.name || '' }}"
                          placeholder="Devid Smith"
                        />
                        <i class="fs-input-icon fa fa-user "></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group">
                      <label>Phone</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="phone"
                          type="text"
                          value="{{ profile.phone || '' }}"
                          placeholder="(251) 1234-456-7890"
                        />
                        <i class="fs-input-icon fa fa-phone-alt"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group">
                      <label>Email Address</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="email"
                          type="email"
                          value="{{ profile.email || '' }}"
                          placeholder="Devid@example.com"
                        />
                        <i class="fs-input-icon fas fa-at"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group">
                      <label>Website</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="website"
                          type="text"
                          value="{{ profile.website || '' }}"
                          placeholder="https://devsmith.net"
                        />
                        <i class="fs-input-icon fa fa-globe-americas"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group">
                      <label>Qualification</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="qualification"
                          type="text"
                          value="{{ profile.qualification || '' }}"
                          placeholder="BTech"
                        />
                        <i class="fs-input-icon fa fa-user-graduate"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group">
                      <label>Language</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="language"
                          type="text"
                          value="{{ profile.language || '' }}"
                          placeholder="e.x English, Spanish"
                        />
                        <i class="fs-input-icon fa fa-language"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Job Category</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="jobCategory"
                          type="text"
                          value="{{ profile.jobCategory || '' }}"
                          placeholder="IT & Software"
                        />
                        <i class="fs-input-icon fa fa-border-all"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Experience</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="experience"
                          type="text"
                          value="{{ profile.experience || '' }}"
                          placeholder="05 Years"
                        />
                        <i class="fs-input-icon fa fa-user-edit"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Current Salary</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="currentSalary"
                          type="text"
                          value="{{ profile.currentSalary || '' }}"
                          placeholder="65K"
                        />
                        <i class="fs-input-icon fa fa-dollar-sign"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Expected Salary</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="expectedSalary"
                          type="text"
                          value="{{ profile.expectedSalary || '' }}"
                          placeholder="75K"
                        />
                        <i class="fs-input-icon fa fa-dollar-sign"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Age</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="age"
                          type="number"
                          value="{{ profile.age || '' }}"
                          placeholder="35 Years"
                        />
                        <i class="fs-input-icon fa fa-child"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Country</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="country"
                          type="text"
                          value="{{ profile.country || '' }}"
                          placeholder="USA"
                        />
                        <i class="fs-input-icon fa fa-globe-americas"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>City</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="city"
                          type="text"
                          value="{{ profile.city || '' }}"
                          placeholder="Texas"
                        />
                        <i class="fs-input-icon fa fa-globe-americas"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-12 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Postcode</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="postcode"
                          type="text"
                          value="{{ profile.postcode || '' }}"
                          placeholder="75462"
                        />
                        <i class="fs-input-icon fas fa-map-pin"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="form-group city-outer-bx has-feedback">
                      <label>Full Address</label>
                      <div class="ls-inputicon-box">
                        <input
                          class="form-control"
                          name="address"
                          type="text"
                          value="{{ profile.address || '' }}"
                          placeholder="1363-1385 Sunset Blvd Angeles, CA 90026 ,USA"
                        />
                        <i class="fs-input-icon fas fa-map-marker-alt"></i>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" rows="3" name="description">{{ profile.description || '' }}</textarea>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12">
                    <div class="text-left">
                      <button type="submit" class="site-button">Save Changes</button>
                    </div>
                  </div>

                </div>

              </div>
            </form>

            <!--Social Network-->
            <form action="/social-links/update" method="POST">
              {{ csrfField() }}
              <div class="panel panel-default">
                <div class="panel-heading wt-panel-heading p-a20">
                  <h4 class="panel-tittle m-a0">
                    Social Network
                  </h4>
                </div>
                <div class="panel-body wt-panel-body p-a20 m-b30">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Facebook</label>
                        <div class="ls-inputicon-box">
                          <input
                            class="form-control wt-form-control"
                            name="facebook"
                            type="text"
                            value="{{ socialLinks.facebook || '' }}"
                            placeholder="https://www.facebook.com/"
                          />
                          <i class="fs-input-icon fab fa-facebook-f"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>LinkedIn</label>
                        <div class="ls-inputicon-box">
                          <input
                            class="form-control wt-form-control"
                            name="linkedin"
                            type="text"
                            value="{{ socialLinks.linkedin || '' }}"
                            placeholder="https://in.linkedin.com/"
                          />
                          <i class="fs-input-icon fab fa-linkedin-in"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>WhatsApp</label>
                        <div class="ls-inputicon-box">
                          <input
                            class="form-control wt-form-control"
                            name="whatsapp"
                            type="text"
                            value="{{ socialLinks.whatsapp || '' }}"
                            placeholder="https://www.whatsapp.com/"
                          />
                          <i class="fs-input-icon fab fa-whatsapp"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label>Instagram</label>
                        <div class="ls-inputicon-box">
                          <input
                            class="form-control wt-form-control"
                            name="instagram"
                            type="text"
                            value="{{ socialLinks.instagram || '' }}"
                            placeholder="https://www.instagram.com/"
                          />
                          <i class="fs-input-icon fab fa-instagram"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                      <div class="text-left">
                        <button type="submit" class="site-button">Save Changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const form = document.querySelector('form[action="/social-links/update"]');
          if (form) {
            form.addEventListener("submit", async event => {
              event.preventDefault();
              const formData = new FormData(form);
              const csrfToken = form.querySelector("input[name=_csrf]").value;
              try {
                const response = await fetch("/social-links/update", {
                  method: "POST",
                  headers: {
                    "X-CSRF-TOKEN": csrfToken,
                    Accept: "application/json"
                  },
                  body: formData
                });
                if (response.ok) {
                  const result = await response.json();
                  alert(result.message || "Social links updated successfully!");
                } else {
                  const error = await response.json();
                  alert(error.message || "An error occurred while updating social links.");
                }
              } catch (error) {
                console.error("Error:", error);
                alert("Failed to update social links. Please try again later.");
              }
            });
          }
        });
        
        document.addEventListener("DOMContentLoaded", () => {
          const form = document.querySelector("#profileForm");
          if (form) {
            form.addEventListener("submit", async event => {
              event.preventDefault();
              const formData = new FormData(form);
              const csrfToken = form.querySelector("input[name=_csrf]").value;
              try {
                const response = await fetch("/user-profile/update", {
                  method: "POST",
                  headers: {
                    "X-CSRF-TOKEN": csrfToken,
                    Accept: "application/json"
                  },
                  body: formData
                });
                if (response.ok) {
                  const result = await response.json();
                  alert(result.message || "Profile updated successfully!");
                } else {
                  const error = await response.json();
                  alert(error.message || "An error occurred while updating profile.");
                }
              } catch (error) {
                console.error("Error:", error);
                alert("Failed to update profile. Please try again later.");
              }
            });
          }
        });
      </script>
    @endslot
  @end
  
