<div class="modal fade twm-sign-up" id="sign_up_popup" aria-hidden="true" aria-labelledby="sign_up_popupLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{{ route('register') }}" method="POST">
                {{ csrfField() }}
                <div class="modal-header">
                    <h2 class="modal-title" id="sign_up_popupLabel">S'inscrire'</h2>
                    <p>Inscrivez-vous et accédez à toutes les fonctionnalités de Makira</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="twm-tabs-style-2">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                        <!--Signup Candidate-->  
                        {{--  <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#sign-candidate" type="button"><i class="fas fa-user-tie"></i>Candidate</button>
                        </li>  --}}
                
                        </ul>
                        <div class="tab-content" id="myTabContent">
                        <!--Signup Candidate Content-->  
                        <div class="tab-pane fade show active" id="sign-candidate">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="name" type="text" required class="form-control" placeholder="Nom*">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="email" type="email" class="form-control" required="" placeholder="Email*">
                                    </div>
                                </div>
                                
                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <input name="password" type="password" class="form-control" required="" placeholder="Mot de passe*">
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group mb-3">
                                        <div class=" form-check">
                                            <input type="checkbox" class="form-check-input" id="agree1" required>
                                            <label class="form-check-label" for="agree1">J'accepte les <a href="javascript:;">termes et conditions</a></label>
                                            <p>Déjà inscris?
                                                <button class="twm-backto-login" data-bs-target="#sign_up_popup2" data-bs-toggle="modal" data-bs-dismiss="modal">Se connecter ici</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="site-button">S'inscrire'</button>
                                </div>
                                
                            </div>
                        </div>
                        
                        </div>
                    </div> 
                </div>

                {{--  <div class="modal-footer">
                    <span class="modal-f-title">Login or Sign up with</span>
                    <ul class="twm-modal-social">
                        <li><a href="javascript" class="facebook-clr"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript" class="twitter-clr"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript" class="linkedin-clr"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript" class="google-clr"><i class="fab fa-google"></i></a></li>
                    </ul>
                </div>  --}}

            </form>
        </div>
    </div>
    
</div>