@component('layouts/main')
  @slot('title')
    <title>
      Makira - Accueil
    </title>
  @endslot
  
  @slot('main')
    @!component('components/common/notification')
    {{-- Section Hero --}}
    @include('components/section/hero')

    {{-- Section Work --}}
    @include('components/section/work')
  @endslot
@end
