@component('layouts/dashboard', { candidates })
  @slot('main')
    <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
      <div class="twm-right-section-panel candidate-save-job site-bg-gray">
        <!--Filter Short By-->
        <div class="product-filter-wrap d-flex justify-content-between align-items-center">
          <span class="woocommerce-result-count-left">Liste des candidats</span>

          {{--  <form class="woocommerce-ordering twm-filter-select" method="get">
            <span class="woocommerce-result-count">Short By</span>
            <select class="wt-select-bar-2 selectpicker" data-live-search="true" data-bv-field="size">
              <option>
                Last 2 Months
              </option>
              <option>
                Last 1 Months
              </option>
              <option>
                15 days ago
              </option>
              <option>
                Weekly
              </option>
              <option>
                Yesterday
              </option>
              <option>
                Today
              </option>
            </select>
          </form>  --}}

        </div>

        <div class="twm-cv-manager-list-wrap">
          <ul>
            @each(candidat in candidates)
              <li>
                <div class="twm-cv-manager-list-style1">
                  <div class="twm-media">
                    <div class="twm-media-pic">
                      <img src="{{ '/images/candidates/' + (candidat.user.profile?.photo ?? 'default.png') }}" alt="#" />
                    </div>
                  </div>
                  <div class="twm-mid-content">
                    <a href="{{ route('candidat.show', {id: candidat.id}) }}" class="twm-job-title">
                      <h4>
                        {{ candidat.user.profile?.name ?? candidat.user.name }}
                      </h4>
                    </a>
                    <p>
                      {{ candidat.user.profile?.poste ?? 'Poste non renseigné' }}
                    </p>

                    <div class="twm-fot-content">
                      <div class="twm-left-info">
                        <p class="twm-candidate-address">
                          <i class="feather-map-pin"></i>{{ (candidat.user.profile?.country ?? '') + '/ ' + (candidat.user.profile?.city ?? '') }}
                        </p>
                        <div class="twm-candidates-tag">
                          <span>{{ candidat.user.profile?.jobCategory ?? 'Non classé' }}</span>
                        </div>
                      </div>
                      <div class="twm-view-button">
                        <a href="tel:{{ candidat.user.profile?.phone ?? '' }}">                          <i class="fa fa-phone"></i></a>
                        <a href="{{ route('candidat.show', {id: candidat.id}) }}" title="Show">                          <i class="fa fa-eye"></i></a>
                        <form action="{{ route('candidat.delete', { id: candidat.id }) }}" method="POST">
                          {{ csrfField() }}
                          <input type="hidden" name="_method" value="DELETE">
                          <button 
                            type="submit" 
                            title="Delete" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce candidat ?')"
                            class="btn btn-link p-0"
                          >
                            <i class="fa fa-trash-alt text-danger"></i>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </li>
            @endeach
            @if(candidates.length == 0)
              <li>
                <div class="twm-cv-manager-list-style1">
                  <div class="twm-mid-content">
                    <a class="twm-job-title">
                      <h4>
                        Pas de candidat
                      </h4>
                    </a>
                  </div>
                </div>
              </li>
            @endif
            
          </ul>
        </div>

        <div class="pagination-outer">
          <div class="pagination-style1">
            <ul class="clearfix">
              <!-- Lien "Précédent" -->
              @if(candidates.currentPage > 1)
                <li class="prev">
                  <a href="?page={{ candidates.currentPage - 1 }}">
                    <span>                      <i class="fa fa-angle-left"></i></span>
                  </a>
                </li>
              @else
                <li class="prev disabled">
                  <a href="javascript:;">
                    <span>                      <i class="fa fa-angle-left"></i></span>
                  </a>
                </li>
              @endif
              
              <!-- Pages numérotées -->
              @each(i in Array.from({ length: candidates.lastPage }, (_, index) => index + 1))
                <li class="{{ i === candidates.currentPage ? 'active' : '' }}">
                  <a href="?page={{ i }}">{{ i }}</a>
                </li>
              @endeach
              
              <!-- Lien "Suivant" -->
              @if(candidates.currentPage < candidates.lastPage)
                <li class="next">
                  <a href="?page={{ candidates.currentPage + 1 }}">
                    <span>                      <i class="fa fa-angle-right"></i></span>
                  </a>
                </li>
              @else
                <li class="next disabled">
                  <a href="javascript:;">
                    <span>                      <i class="fa fa-angle-right"></i></span>
                  </a>
                </li>
              @endif
            </ul>
          </div>
        </div>

      </div>
    </div>
  @endslot
@endcomponent
