@component('layouts/dashboard')
  @slot('main')
    <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
      <!--Filter Short By-->
      <div class="twm-right-section-panel site-bg-gray">
        <form method="POST" action="{{ route('update.password') }}">
          {{ csrfField() }}
          <!--Basic Information-->
          <div class="panel panel-default">
            <div class="panel-heading wt-panel-heading p-a20">
              <h4 class="panel-tittle m-a0">
                Changez votre mot de passe
              </h4>
            </div>
            <div class="panel-body wt-panel-body p-a20 ">
              <div class="row">
                <!-- Current Password -->
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Mot de passe actuel</label>
                    <div class="ls-inputicon-box">
                      <input class="form-control wt-form-control" name="current_password" type="password" required />
                      <i class="fs-input-icon fa fa-asterisk"></i>
                    </div>
                  </div>
                </div>
                
                <!-- New Password -->
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Nouveau mot de passe</label>
                    <div class="ls-inputicon-box">
                      <input class="form-control wt-form-control" name="new_password" type="password" required />
                      <i class="fs-input-icon fa fa-asterisk"></i>
                    </div>
                  </div>
                </div>
        
                <!-- Confirm New Password -->
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Confirmer le nouveau mot de passe</label>
                    <div class="ls-inputicon-box">
                      <input class="form-control wt-form-control" name="new_password_confirmation" type="password" required />
                      <i class="fs-input-icon fa fa-asterisk"></i>
                    </div>
                  </div>
                </div>
        
                <!-- Submit Button -->
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="text-left">
                    <button type="submit" class="site-button">Enregistrer les modifications</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  @endslot
@end
